<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Free Hyundai car list for you" />
    <!-- <meta name="theme-color" content="#b7c5c0"/>
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="favicon.png"> -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <title>Hyundai Catalogue</title>
  </head>
  <body>
    <a href="main" class="skip-link">Skip to Content</a>
    <header>
      <div class="hyundai-logo">
        <img src="logo/logo.png" alt="Hyundai Logo" class="logo" />
      </div>
      <a
        id="menu"
        class="header__menu"
        tabindex="0"
        aria-label="Hamburger Navigation"
        >☰</a
      >
      <nav id="drawer" class="nav">
        <ul class="nav__list">
          <li class="nav__item nav-active"><a href="#/home">Home</a></li>
          <li class="nav__item"><a href="#/products">Products</a></li>
          <li class="nav__item"><a href="">About Us</a></li>
        </ul>
      </nav>
    </header>
    <main></main>
    <footer>
      <div class="footer-grid">
        <div class="footer-1">footer 1</div>
        <div class="footer-2">footer 2</div>
        <div class="footer-3">
          <h3>Social Media</h3>
          <a href="">
            <span class="fa-brands fa-facebook-square"></span>
          </a>
          <a href="">
            <span class="fa-brands fa-whatsapp"></span>
          </a>
          <a href="">
            <span class="fa-brands fa-instagram"></span>
          </a>
        </div>
      </div>
    </footer>
  </body>
</html>
