:root {
    --first-color: #002b5e;
    --second-color: #041e42;
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}  
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.skip-link {
    position: absolute;
    top: -44px;
    left: 0;
    background-color: #bf1722;
    color: white;
    padding: 8px;
    z-index: 100;
    height: 44px;
}
.skip-link:focus {
    top: 0;
}
body {
    font-family: 'Lato', sans-serif;
    line-height: 1.3;
}
  
  /* ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
  }
  
  header {
    background: #aeaeaa;
    padding: 20px 0;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
  }
header .hyundai-logo {
    margin-left: 10px;
}
  
  header .logo {
    width: 256px;
    height: 35px;
  }
  
  header nav .nav-menu li {
    margin: 0 20px;
  }
  
  header nav .nav-menu .nav-link {
    font-size: 20px;
    color: var(--first-color);
    cursor: pointer;
  } */

header {
    background: #aeaeaa;
    padding: 20px 0;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 80px;
}
header .hyundai-logo {
    margin-left: 10px;
    position: absolute;
}
header .logo {
    width: 256px;
    height: 35px;
}
.header__menu {
    font-size: 32px;
    margin: auto;
    display: block;
    width: 44px;
    margin-right: 15px;
    min-height: 44px;
    text-decoration: none;
    color: var(--first-color);
}
nav {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.nav__list {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: right;
}
.nav__item {
    box-sizing: border-box;
    display: inline-block;
    text-align: right;
    line-height: 24px;
    text-transform: uppercase;
    margin-right: 20px;
}
.nav a {
    display: inline-block;
    padding: 1.3em;
    text-decoration: none;
    color: var(--first-color);
    font-size: 13px;
}
.nav a:hover {
    text-decoration: underline;
    color: #000;
}
.headling-img {
  width: 100%;
}

main {
    width: 100%;
    margin: 0 auto;
}
footer {
    background: var(--first-color);
    padding: 20px 20px;
    width: 100%;
    color: white;
}
.footer-3 {
  text-align: center;
}
.footer-3 a {
  display: inline-block;
  font-size: 30px;
  color: #fff;
  margin: 0 10px;
  margin-top: 15px;
  min-height: 44px;
  min-width: 44px;
}